name: CI
on: [push, pull_request]

# Allow actions to write to the repository
permissions:
  contents: write

jobs:
  build-and-test:
    defaults:
      run:
        # Ensure environment gets sourced between steps
        shell: bash -l {0}
    name: Python (${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v6

    # setup conda-forge with micromamba
    - name: Setup Python
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml
        condarc: |
          channels:
            - conda-forge
        create-args: >-
          python=${{ matrix.python-version }}
        environment-name: prod
        cache-environment: true

    - name: Install ritas
      run: |
        set -e
        python -m pip install . --no-deps

    - name: Run tests
      run: |
        set -e
        python -m pytest --cov=ritas
        python -m coverage xml

    - name: Upload coverage
      if: ${{ matrix.python-version == '3.14' }}
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.xml

    - name: Build docs
      run: |
        set -e
        cd docs
        make html

    # This is somewhat suboptimal
    - name: Deploy docs
      if: ${{ matrix.python-version == '3.14' && github.event_name == 'push' && github.ref == 'refs/heads/main'}}
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: docs/build/html # The folder the action should deploy. This example folder is generated by Sphinx
